body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.destacados {
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

.destacados__imagenes {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
}

.destacados__descubre__imagen,
.destacados__confianza__imagen, 
.destacados__elige__imagen {
    width: 15%;
    
}

.destacados__entradas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    justify-items: center;
    margin: 1%;
}

.destacados__descubre,
.destacados__confianza,
.destacados__elige {
  width: 100%;
  padding: 10px;
  margin: auto;
  background-color: #cbf0f4;
  border-radius: 6%;
  margin-top: 4%;
  text-align: center;
}

.destacados__texto {
    padding: 10%;
}

.aboutUs {
    margin: auto;
    margin-top: 5%;
    width: 90%;
    border: 1px solid black;
}

.aboutUs__titulo {
    font-style: italic;
    text-align: unset;
}



