/* Estilos base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    width: auto;
    background-color: #204b5e;
    height: 100vh;
    position: relative;

}

body {
    height: 100vh;
}


/* Diseño General */
.layout__busqueda {
    width: calc(75% - 4rem);
    height: auto;
    text-align: justify;
    margin-top: 5rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8);
    background-color: white;
    top: 9rem;
    padding: 2rem;
}

/* Estilos de la cabecera */
.layout__cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Imagen de la cabecera */
.layout__cabecera img {
    width: 75%;
    border-radius: 15px;
    margin-top: 1rem;
}

.contenedor__buscador {
    position: relative;
}

/* Estilos del layout del formulario */
.layout__form {
    position: absolute;

    /* transform: translate(-50%, -380%); */
    /* width: 90%; */
    /* height: 3rem; */
    left: 0;
    right: 0;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: #eca400;
    border-radius: 3rem;
    margin: auto;
    z-index: 1;
}

/* FORMULARIO + INPUTS */
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    max-width: 120px;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding-left: 1rem;
}

input[type="date"],
input[type="time"] {
    padding-right: 0.5rem;
    font-weight: 100;
}

.boton {
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}

.boton:hover {
    background-color: #204b5e;
    color: white;
    font-weight: bolder;
}

/* Layout section - BUSQUEDA */
.layout__section {
    width: calc(85% - 2rem);


    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background-color: #eca400;
    border-radius: 15px;
    /* margin-bottom: ; */
    padding: 2rem 1rem;
}

/* Tarjeta búsqueda */
.section__article {
    height: 8rem;

    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    /* gap: 1rem; */
}

/* Dos primeras tarjetas */
.section__article:nth-child(1) {
    margin-top: 2rem;
}

.article_infoViaje {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 100%;

}

/* Div contenedor de los datos de tarjeta */
.article__datos {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 0.5rem; */
    padding: 1rem;
    font-size: 0.7rem;
}

/* Datos de los destinos */
.datos__destinos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */

}

/* Modifica estilos de la hora */
.destinos__destino {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* Modifica los destinos y tiempo de llegada */
.destinos__origen {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

}

/* Texto de los destinos */
.destinos {
    font-weight: bolder;
    font-size: 1.2rem;
}

/* Detalles del viaje */
.datos__detalles {
    width: 100%;
    /* display: flex; */
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.9rem;

    i {
        margin-right: -0.9rem;
    }
}

/* Asientos */
.article__asientos {
    /* width: 100%; */
    height: 78%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;

    /* border: 1px solid rgb(0, 79, 216); */
    border-radius: 10px;
    background-color: skyblue;
    gap: 0.6rem;
    flex-wrap: wrap;
    text-align: center;
}



/* Cada asiento - por defecto libre*/
.asiento {
    width: 24px;
    height: 24px;
    padding: 4px;

    cursor: pointer;
    background-color: lightgreen;
    border-radius: 100%;
}

.asiento:hover {
    background-color: grey;
    border: none;
}

/* Asiento ocupado */
.asiento--ocupado {
    background-color: lightcoral;

}

/* Contenedor del precio */
.article__precio {
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .precio {
        font-weight: bolder;
        margin-bottom: 22px;
    }

    .contratar {
        width: 5.5rem;
        text-align: center;
        padding: 0;
        background-color: skyblue;
        cursor: pointer;
    }

    .contratar:hover {
        background-color: #eca400;
        color: white;
        font-weight: bolder;


    }

}

/* FOOTER */

footer {
    /* margin: 50px 0 0; */
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes__icono {
    width: 30px;
    height: auto;
}

.aula {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.aula__logo {
    width: 50px;
    margin-right: 10px;
}

.aula__nombre {
    font-weight: bold;
    font-size: medium;
}


/* Media Queries para Diseño Responsive */

/* Pantallas medianas */
/* ok */
@media (max-width: 960px) {

    .layout__busqueda {
        background-color: white;
        width: 95%;
        right: 2.5%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .layout__section {
        border-radius: 0;
    }

    .layout__form {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 20px; */
        border-radius: 0;
        width: calc(85% - 2rem);
    }

    .cabecera {
        font-size: 1.8rem;
    }

    .layout__form {
        position: static;
        display: flex;
        justify-content: center;
        /* margin: 20px; */
    }

    .form {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr 1fr; */

        /* gap: 15px;
        /* Espacio entre los elementos */
        /*max-width: 500px;
        width: 100%; */
    }

    .form input[type="submit"] {
        grid-column: span 2;
        /* Ocupa ambas columnas */
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

    .form input {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    .form input:focus {
        border-color: #007bff;
        outline: none;
    }


    .section__article {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .article_infoViaje {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 8px;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    .article__asientos {
        height: 100px;
    }

    .article__datos {
        width: auto;
    }



}