/* Estilos base */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    /* width: auto; */
    background-color: #204b5e;
    height: 100vh;
    position: relative;

}


/* Diseño General */
.layout__busqueda {
    position: absolute;
    width: calc(75% - 4rem);
    height: auto;
    text-align: justify;
    right: 13%;
    /* top: -8%; */
    /* left: 50%; */
    /* margin: 4rem auto; */
    border: 1px solid white;
    /* box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8); */
    background-color: white;
    border-radius: 2rem;
    top: 7rem;
    padding: 2rem;
}

 .layout__cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.layout__cabecera img {
    width: 75%;
    border-radius: 15px;
    margin-top: 1rem;
}

.layout__form {
    position: absolute;
    top: 65%;
    /* Cambia este valor para mover el elemento hacia arriba o abajo */
    left: 50%;
    /* Centra horizontalmente */
    transform: translate(-50%, -420%);
    /* Asegura que el centro del formulario esté en el centro del contenedor */
    width: 63%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: gold;
    border-radius: 3rem;
    z-index: 1;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

input::placeholder {
    text-indent: 0.5rem;
}

.boton {
    cursor: pointer;
}

.layout__section {
    position: relative;
    padding: 1rem;
    width: calc(75% - 1rem);
    margin-top: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    gap: 1rem;
}

.section__article {
    width: 80%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.section__article:nth-child(1) {
    margin-top: 2rem;
}

.article__datos {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;


}

.datos__destinos {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.article__asientos {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.article__precio {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
} 



