
html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    width: auto;
    background-color: #204b5e;
    height: 100vh;
  }
   
  .main {
    width: calc(75% - 4rem);
    height: 70vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    text-align: justify;
    margin: 10rem auto;
    /* border: 1px solid white; */
    /* box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8); */
    /* background-color: white; */
    top: 1rem;
    padding: 2rem;
  }
  
.foto {
    flex: 1;
    width:20%;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.atras {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-color: #d8c083;
}


.messages {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.message.sent {
    background-color: #d8c083;
    align-self: flex-end;
}

.message.received {
    background-color: #EAEAEA;
    align-self: flex-start;
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.input-container button {
    background-color: #d8c083;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #e03131;
}

footer {
    margin: 50px 0 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes__icono {
    width: 30px;
    height: auto;
}

.aula {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.aula__logo {
    width: 50px;
    margin-right: 10px;
}

.aula__nombre {
    font-weight: bold;
    font-size: medium;
}
