/* Estilos base */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    width: auto;
    background-color: #204b5e;
    height: 100vh;
    position: relative;

}

/* ---------------------------------------------------- */
/* MAIN */

.layout__login {
    position: absolute;
    width: calc(75% - 4rem);
    height: auto;
    text-align: justify;
    right: 13%;
    /* top: -8%; */
    /* left: 50%; */
    /* margin: 4rem auto; */
    border: 1px solid white;
    /* box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8); */
    background-color: white;
    border-radius: 2rem;
    top: 9rem;
    padding: 2rem;

}

/* ---------------------------------------------------- */
/* FORMULARIO */


.layout__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* margin-top: 7rem; */

    width: calc(100% - 4rem);
    height: 100%;
    padding: 2rem;
}

.form__title {
    color: #204b5e;
    font-size: 2.5rem;
    margin-bottom: 1rem;

}

form {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

}

.form__group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__group--password {
    position: relative;
    margin-bottom: 1.5rem;
}


/* Inputs formulario */

.form__input {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    padding: 1rem;
    /* Añade un padding para que el texto no esté pegado al borde */
    padding-right: 2.5rem;
    /* Espacio para el icono */
    border: 1px solid #ccc;
    /* Estilo del borde del input */
    border-radius: 5px;
    /* Esquinas redondeadas */
    font-size: 1rem;
    /* Ajusta el tamaño de fuente según tus necesidades */
    box-sizing: border-box;
    outline: none;
}

.form__icon {

    position: absolute;
    /* Posiciona el icono de forma absoluta */
    top: 50%;
    /* Centra verticalmente */
    left: 36rem;
    /* Ajusta la distancia desde la izquierda según sea necesario */
    transform: translateY(-50%);
    /* Centra el icono verticalmente */
    color: #204b5e;
    /* Color del icono */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el icono */
}

.form__group--checkbox {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    margin-top: -2rem;

}

.form__group--forgotpass {
    display: inline;
    margin-top: -0.5rem;
}

.form__group--register {
    display: inline;
    margin-top: -0.5rem;
}


.form__link {
    color: #204b5e;
    font-weight: 100;
    font-size: 0.8rem;
}

.form__link:hover {
    color: #204b5e;
    font-weight: 100;
    font-size: 0.8rem;
    text-decoration: underline;
}

.form__submit {
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    /* Esquinas redondeadas */
    font-size: 1rem;
    outline: none;
    border: none;
    /* background-color: goldenrod;
    color: #204b5e; */
    background-color: #204b5e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;

}

.form__submit:hover {
    background-color: #2f6d88;
}

/* ---------------------------------------------------- */
/* MEDIA QUERY */