* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 100vh;
}


.layout__mensajes {
    width: calc(75% - 4rem);
    min-height: 100vh;
    text-align: justify;
    margin-top: 3rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8);
    background-color: white;
    top: 9rem;
    padding: 2rem;
}

.titulo {
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: 1px solid #000000;
    width: 300px;
    margin: auto;
}


.tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.t1,
.t2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #9ce5ec;
    /* border: 1px solid black; */
    border-radius: 20px;
}

.t1 {
    flex: 2;
}

.t2 {
    flex: 2;
}


.box1,
.box2 {
    display: flex;
    flex-direction: row;
    /* Cambiado a fila */
    text-align: center;
}

.c1,
.c4 {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.c2,
.c3 {
    flex: 2;
    padding: 10px;
    text-align: center;
    font-weight: 300;
}

.fechas {
    font-weight: bold;
}

.valoracion {
    font-size: large;
    color: #e03131;
}

.foto {
    width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.perfilButton {
    display: inline-block;
    margin-top: 17px;
}

button {
    background-color: #204b5e;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    /* Ajustes adicionales */
    cursor: pointer;
}

button:hover {
    background-color: #eca400;
    color: black;
    font-weight: 700;
}


/* Media Query: Ancho entre 1024px y 768px */
/* Media Query: Ancho entre 1024px y 768px */
@media (min-width: 768px) and (max-width: 1024px) {
    .tarjetas {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .t1,
    .t2 {
        width: 80%;
        margin: 10px;
        height: 120px;
    }

    .box1,
    .box2 {
        flex-direction: row;
        justify-content: space-around;
    }

    .foto {
        width: 100px;
        height: 100px;
    }

    button {
        height: 35px;
        width: 90px;
        font-size: 0.9rem;
    }



    .redes {
        justify-content: center;
    }

    .aula {
        margin-right: 0;
    }
}

/* Media Query: Ancho entre 768px y 425px */
@media (min-width: 426px) and (max-width: 768px) {
    .tarjetas {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .t1,
    .t2 {
        width: 80%;
        height: 100px;
        margin: 10px 0;
    }

    .box1,
    .box2 {
        flex-direction: column;
        align-items: center;
    }

    .box2 {
        background-color: #eca5006c;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    hr {
        display: none;
    }

    .c1,
    .c4 {
        justify-content: center;
    }

    .foto {
        width: 80px;
        height: 80px;
    }

    .titulo {
        font-size: 1.2rem;
    }


}

/* Media Query: Ancho entre 425px y 375px */
@media (min-width: 376px) and (max-width: 425px) {
    .tarjetas {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .t1,
    .t2 {
        width: 90%;
        height: 90px;
        margin: 8px 0;
    }

    .box1,
    .box2 {
        flex-direction: column;
        text-align: center;
    }

    .c2,
    .c3 {
        font-size: 0.8rem;
    }

    .foto {
        width: 70px;
        height: 70px;
    }

    button {
        height: 30px;
        width: 80px;
        font-size: 0.8rem;
    }


}