/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    width: auto;
    background-color: #204b5e;
    height: 100vh;

}

/* ---------------------------------------------------- */

/* HEADER */

#menu__hamburguesa {
    display: none;
}

.header__navbar {
    width: 100%;
    height: 5rem;
    background-color: white;
    position: fixed;
    /* Soporte para navegadores WebKit */

    top: 0;
    z-index: 1000;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -20px; */
}

.header__menu {
    list-style: none;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #204b5e50;
    /* box-shadow: rgb(255, 255, 255) 0px 20px 30px -20px; */
    font-size: 1rem;
    z-index: 99;

}

/* Estilos del logo y el h1 */
.menu__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #204b5e;
    width: 20%;
}

.header__menu-logo {
    width: 7rem;
}


/* Estilos de los enlaces */

.menu__enlaces {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    transition: all 300ms ease;
    height: 5rem;
    cursor: pointer;

}

a {
    color: #204b5e;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-weight: 1000;

    /* Valores correctos para text-shadow */
}


/* .menu__enlaces li:hover a {
    color: #183846;
    font-weight: bolder;
} */


.header__menu-icon {
    margin-right: 0.5rem;
}


/* Estilos menu desplegable */
.header__menu-dropdown {
    position: relative;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 100;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
    /* Se oculta por defecto */
    flex-direction: column;
    width: 15rem;
    padding: 0;
    list-style: none;
    z-index: 10;
}

.dropdown__menu li {
    width: 100%;
}

.dropdown__menu li a {
    padding: 1rem;
    display: block;
    color: #204b5e;
    text-decoration: none;
    font-weight: normal;
    text-align: left;
}

.dropdown__menu li a:hover {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Mostrar el menú desplegable al hacer hover en el li */
.header__menu-dropdown:hover .dropdown__menu {
    display: flex;
}

/* ---------------------------------------------------- */

/* MAIN */
.layout {
    width: calc(75% - 4rem);
    height: auto;

    text-align: justify;
    margin-top: 4rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8);
    background-color: white;
    top: 1rem;
    padding: 2rem;


}

/* ---------------------------------------------------- */
/* MEDIA QUERY */
/* Dispositivos muy pequeños */
@media (min-width:768px) {
    .menu__hamburguesa {
        display: none;
    }
}



@media (max-width: 768px) {
    .header__menu {
        z-index: 9999;
        display: flex;
        justify-content: space-between;

    }

    .header__menu-title .header__menu-link h1 {
        font-size: 18px;
    }

    .menu__enlaces {
        width: 100%;
        position: absolute;
        top: -5rem;
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 300ms ease;
        z-index: -999999;
    }

    #menu__hamburguesa:checked~.menu__enlaces {
        top: 5rem;
        height: 10rem;

    }


    .hamburguesa {
        margin-right: 1rem;
        cursor: pointer;
    }

    .menu__logo {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    .menu__enlaces .header__menu-item-enlace {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* Centra texto e ícono */
        background-color: #204b5e;
        border-bottom: 1px solid #173542;
        width: 100%;
        height: 100vh;

        a {
            color: white;
            font-size: 16px;
        }

    }

    .header__menu-item-enlace:hover {
        background-color: #9ce5ec;

        a {
            color: black;
        }

    }

    .header__menu-dropdown:hover .dropdown__menu {
        width: 100%;

    }

}