body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    width: calc(75% - 4rem);
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: justify;
    margin-top: 4rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 12px 0 0px -4px rgba(255, 255, 255, 0.8), -12px 0 0px -4px rgba(230, 230, 230, 0.8);
    background-color: white;
    top: 1rem;
    padding: 2rem;
    z-index: -1;
}


.layout {
    height: 100%;
}

.titulo {
    margin-bottom: 20px;
}

h2 {
    font-size: 130%;
    width: 150px;
    text-align: start;
    color: #000000;
    background: #9ce5ec;
    padding: 0 20px;
    padding-top: 3px;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.tamanio_pag {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    justify-items: center;
    justify-content: center;
}

.c1 {
    grid: 1;
}

.c2 {
    grid: 2;
    align-content: flex-end;
}

.semana {
    display: flex;
    width: 500px;
    height: auto;
    background-color: #9ce5ec;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    text-align: left;
    font-size: large;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    line-height: 1.6;
    margin-bottom: 50px;

}

.semana hr {
    border: 1px solid #000000;
    margin: 20px 0;
}


.viajes {
    display: flex;
    width: 500px;
    height: auto;
    background-color: #9ce5ec;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    font-size: large;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    line-height: 1.6;
    margin-bottom: 50px;

}

.viajes hr {
    border: 1px solid #000000;
    margin: 20px 0;
}

.lista {
    list-style: none;
    width: 500px;
}

.dia {
    font-style: italic;
    font-weight: bold;
}

.fechas {
    font-weight: bold;
}

.condPasj {
    font-style: italic;
    font-weight: bold;
}

footer {
    /* margin: 50px 0 0; */
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes__icono {
    width: 30px;
    height: auto;
}

.aula {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.aula__logo {
    width: 50px;
    margin-right: 10px;
}

.aula__nombre {
    font-weight: bold;
    font-size: medium;
}