
html {
  font-family: "Afacad Flux", sans-serif;
  font-size: 16px;
  width: auto;
  background-color: #204b5e;
  height: 100vh;
}
 
main {
  width: calc(75% - 4rem);
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center; 
  text-align: justify;
  margin-top: 4rem;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  box-shadow: 12px 0 15px -4px rgba(255, 255, 255, 0.8), -12px 0 8px -4px rgba(230, 230, 230, 0.8);
  background-color: white;
  top: 1rem;
  padding: 2rem;
}

.titulo {
  width: 80%;
  padding: 20px;
  text-align: left;
}

.perfil_header {
  width: 80%;
  background-color:#9ce5ec;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.tamanio_pag {
  width: 80%;
  align-content: center;
}

.flexbox-container {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.flex1 {
  display: flex;
}

.flex2 {
  height: 250px;
  width: 400px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  /* Mover el contenido hacia la parte inferior */
  padding: 10px;
  font-size: small;
}

h4 {
  margin-top: 15px;
}

.noNegrita {
  font-weight: normal;
}

hr {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #000000;
  
}

.titulo_cond h2 {
  font-size: 1.5em;
  margin: 10px;
}

.info_perfil {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.foto_perfil img {
  align-items: center;
  height: 250px;
}

.valoracion {
  font-size: medium;
  color: #e03131;
}

.editar_datos {
  padding: 10px 10px;
  background-color: #cccccc;
  border: none;
  cursor: pointer;
}

.tipo_perfil {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.seleccion_cond_pasj {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 10px;
}

.perfil_cond,
.perfil_pasj {
  border: 1px solid #cccccc;
  padding: 10px;
  display: inline-block;
  width: 250px;
  height: auto;
}

/* Opcional: puedes agregar estilos diferentes para cada cuadro */
.perfil_cond {
  background-color: #fbea80;
}

.perfil_pasj {
  background-color: #7ccab9;
}

.perfil_cond,
.perfil_pasj,
li {
  list-style: none;
}

.info_personal,
.vehiculos {
  width: 100%;
  padding: 10px;
}

.info_personal_text {
  width: 50%;
}

.vehiculos ul {
  list-style: none;
  padding: 10px;
}

.anadir_vehiculo {
  font-size: small;
  padding: 10px;
  cursor: pointer;
  color: #e03131;
  font-weight: bold;
  font-style: italic;
}

footer {
  /* margin: 50px 0 0; */
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.redes {
  display: flex;
  gap: 10px;
}

.redes__icono {
  width: 30px;
  height: auto;
}

.aula {
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.aula__logo {
  width: 50px;
  margin-right: 10px;
}

.aula__nombre {
  font-weight: bold;
  font-size: medium;
}


/* Estilos Responsivos */

/* Para pantallas de 1024px o menos */
@media (max-width: 1024px) {
  .flexbox-container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
  }

  .flex1,
  .flex2 {
    width: 100%;
    text-align: center;
  }

  .foto_perfil img {
    width: 150px;
    height: auto;
  }
}

/* Para pantallas de 768px o menos */
@media (max-width: 768px) {
  .perfil_header {
    width: 90%;
  }

  .flexbox-container {
    flex-direction: column;
    align-items: center;
  }

  .flex1,
  .flex2 {
    width: 100%;
    text-align: center;
  }

  .foto_perfil img {
    width: 150px;
    height: auto;
  }

  .info_personal_text {
    width: 100%;
    font-size: small;
  }

  .vehiculos ul {
    width: 100%;
  }
}

/* Para pantallas de 480px o menos */
@media (max-width: 480px) {
  header {
    width: 100%;
    text-align: center;
  }

  .perfil_header {
    width: 100%;
  }

  .flex1 {
    width: 100%;
  }

  .flex2 {
    padding-top: 10px;
  }

  .foto_perfil img {
    width: 100px;
    height: auto;
  }

  .info_personal_text,
  .vehiculos ul {
    width: 100%;
  }

  .editar_datos {
    width: 100%;
  }
}
